<header>
    <div class="container">
        <h5 class="logo"><a href="/">Nicolasss.pisem.net</a></h5>
        <nav class="main">
            <ul>
                {% if page.nav == "main" %}
                    <li><a href="/" class="active">Главная</a></li>
                {% else %}
                    <li><a href="/">Главная</a></li>
                {% endif %}
                {% if page.nav == "diy" %}
                    <li><a href="/diy" class="active">DIY</a></li>
                {% else %}
                    <li><a href="/diy">DIY</a></li>
                {% endif %}
                {% if page.nav == "private" %}
                    <li><a href="/private" class="active">Блог</a></li>
                {% else %}
                    <li><a href="/private">Блог</a></li>
                {% endif %}
            </ul>
        </nav>
        <div class="nav-slider">
            <div class="nav-selection {{ page.nav }}"></div>
        </div>
        <div class="subnav-slider">
            <div class="subnav-selection {{ page.nav }}"></div>
        </div>
        <nav class="subnav">
            <ul>
                {% if page.nav == "about" %}
                    <li><a href="/about" class="active">Автор</a></li>
                {% else %}
                    <li><a href="/about">Автор</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>
